@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Zen+Kurenaido&display=swap');

@media only screen and (max-width: 1024px) {
    :root {
        color: #606060;
        font-family: "Josefin Sans", "Zen Kurenaido", sans-serif;
        font-size: 24px;
        font-weight: 300;

        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: #FFFFFF;
    }

    a {
        color: #606060;
        text-decoration-thickness: 0.05rem;
    }

    a:hover {
        color: #4040FF;
    }

    hr {
        display: none;
    }

    div.title-and-navi {
        --title-and-navi-height: max(36rem, 100lvh);
    }

    header {
        --header-margin: 5rem;
        --title-text-shadow: 0.1rem 0.1rem 0.2rem #000000, 0 0 1rem #FFFFFF;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        height: 100lvh;

        background-color: #E0E0E0;
        background-image: url("background.jpg");
        background-position: center;
        background-size: cover;
    }

    header h1 {
        color: #FFFFFF;
        font-size: 15lvw;
        font-weight: normal;
        letter-spacing: 0.25rem;
        text-align: center;
        text-shadow: var(--title-text-shadow);

        margin: auto 0;
   }

    header p {
        color: #FFFFFF;
        font-size: 5lvw;
        font-weight: 400;
        text-align: center;
        text-shadow: var(--title-text-shadow);
        vertical-align: bottom;

        margin: auto 0;
    }

    div.navi {
        margin: 3rem 1em;
        background-color: #FFFFFF;
    }

    nav.language {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    nav.language ul,
    nav.language li {
        display: block;
    }

    nav.language ul {
        margin: 0;
        padding: 0;
    }

    nav.language li {
        color: #FFFFFF;
        font-size: 1rem;
        text-align: right;
        text-shadow: var(--title-text-shadow);

        margin: 0;
        padding: 0;
    }

    nav.language li a {
        color: #FFFFFF;
    }

    li.language-selected {
        font-weight: bold;
    }

    li.language-selected::before {
        content: "▶";
    }

    nav.links h2 {
        display: none;
    }

    section.for {
        margin: 2rem 1rem;
        padding: 0 0 0 1rem;
    }

    section.for h3 {
        font-size: 1.2rem;
        font-weight: normal;
        letter-spacing: 0.1rem;

        margin: 0 0 0 -1rem;
    }


    ul.github {
        margin: 1rem 0;
        padding: 0;

        list-style-type: none;
    }

    ul.github li {
        margin: 1rem 0;
    }

    div.features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }

    section.feature {
        margin: 1rem 0;
    }

    section.feature h4 {
        font-size: 1.1rem;
        font-weight: normal;

        margin: 0;
        border: 0.05rem #C0C0C0;
        border-style: none none solid none;
    }

    section.feature h4 a {
        text-decoration: none;
    }

    section.feature h4 a:hover {
        text-decoration: underline;
    }

    section.feature ul {
        margin: 0.5rem 0;
        padding: 0 0 0 1rem;

        list-style-type: none;
    }

    section.feature li {
        margin: 1rem 0;
    }

    main {
        margin: 3rem 0;
    }

    main h2 {
        font-size: 1.2rem;
        font-weight: normal;
        letter-spacing: 0.1rem;
        text-align: center;

        margin: 0;
    }

    section.library {
        margin: 2rem 1rem;
        padding: 2rem;
        border: 0.05rem solid #C0C0C0;
        border-radius: 0.5rem;
    }

    section.library h3 {
        font-size: 1.1rem;
        font-weight: normal;
        letter-spacing: 0.1rem;

        margin: 0;
    }

    section.library p {
        margin: 1rem 0;
    }

    p.available-for {
        text-align: right;

        margin: 0;
    }

    p.available-for span {
        display: none;
    }

    p.available-for a {
        color: #FFFFFF;
        font-size: 0.75rem;
        text-decoration: none;

        margin: 0;
        padding: 0.2rem 1rem;
        background-color: #808080;
        border-style: none;
        border-radius: 1rem;
    }

    footer {
        margin: 5rem 0 2rem 0;
    }

    address {
        font-style: normal;
        text-align: center;
    }

}