@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Zen+Maru+Gothic:wght@500&display=swap');
@media only screen and (min-width:601px) {
     :root {
        --content-width: min(100%, 600pt);
        --font-size: min(2.5vw, 20pt);
        --background-color: rgb(255, 255, 255);
        --header-foreground-color: rgba(255, 255, 255, 95%);
        --header-shadow: 0.1em 0.1em 0.2em rgb(64, 64, 64), 0.1em 0.1em 0.1em rgb(64, 64, 64);
        --logo-font-family: "Josefin Sans", sans-serif;
        --header-font-family: "Zen Maru Gothic", sans-serif;
        --article-foreground-color: rgb(64, 64, 64);
        --article-title-font-family: "Zen Maru Gothic", sans-serif;
        --article-description-font-family: "Zen Maru Gothic", serif;
    }
    body {
        font-size: var(--font-size);
        background-color: val(--background-color);
        margin: 0em;
        padding: 0em;
        overflow: hidden auto;
    }
    header {
        color: var(--header-foreground-color);
        text-shadow: var(--header-shadow);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr, 1fr;
        gap: 2em;
        border-bottom-left-radius: 50% 4em;
        border-bottom-right-radius: 50% 4em;
        background-size: cover;
        background-position: center center;
        margin: 0em -4em;
        --horizontal_padding: max(6em, calc(4em + (100vw - var(--content-width)) / 2));
        padding: 1em var(--horizontal_padding) 6em var(--horizontal_padding);
    }
    nav#language,
    section#logo,
    nav#links {
        font-family: var(--header-font-family);
        letter-spacing: 0.05em;
    }
    nav#language a,
    nav#links a {
        color: var(--header-foreground-color);
    }
    nav#language a:hover,
    nav#links a:hover {
        text-shadow: 0em 0em 0.2em rgb(128, 128, 128), 0em 0em 0.5em var(--header-foreground-color);
    }
    nav#language {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        margin: 0em 0em 1em 0em;
    }
    nav#language p {
        font-size: 80%;
        text-align: left;
    }
    header p {
        text-align: center;
        margin: 0em;
    }
    section#logo {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: auto 0em;
    }
    section#logo h1 {
        font-family: var(--logo-font-family);
        font-size: 300%;
        font-weight: normal;
        letter-spacing: 0.1em;
        text-align: left;
        line-height: 1;
        margin: 0em;
    }
    p#description {
        text-align: left;
        line-height: 1;
        margin: 0.5em 0em;
    }
    nav#links {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin: 0em 0em 0em auto;
    }
    p#version {
        font-size: 120%;
    }
    p#download {
        margin: 1.5em calc((100% - 10em) / 2);
        padding: 0em;
    }
    p#download a {
        color: var(--header-foreground-color);
        text-decoration: none;
        display: block;
        background-color: rgba(255, 255, 255, 20%);
        border-width: 0.12em;
        border-style: solid;
        border-color: var(--header-foreground-color);
        border-radius: 0.5em;
        backdrop-filter: blur(0.1em);
        box-shadow: var(--header-shadow), 0.05em 0.05em 0.2em rgb(64, 64, 64) inset;
        padding: 0.5em 0em;
    }
    p#license {
        font-size: 80%;
    }
    header nav ul {
        display: block;
        text-align: center;
        margin: 3em 0em 0em 0em;
        padding: 0em;
    }
    header nav li {
        display: inline;
        margin: 0em 1em;
        padding: 0em;
    }
    article {
        color: var(--article-foreground-color);
        font-family: var(--article-description-font-family);
        margin: 4em 0em 2em 0em;
        padding: 0em max(2em, calc((100vw - var(--content-width)) / 2));
    }
    article h2 {
        font-family: var(--article-title-font-family);
        font-size: 120%;
        font-weight: normal;
        letter-spacing: 0.2em;
        text-align: center;
    }
    article dl {
        display: grid;
        margin: 0em;
    }
    article dt {
        font-family: var(--article-title-font-family);
        font-weight: bold;
        letter-spacing: 0.1em;
        line-height: 1;
        box-shadow: 0.05em 0.05em 0.15em rgb(192, 192, 192);
        border-radius: 1em 2em;
        margin: 1em auto 0em 0em;
        padding: 1em 2em;
        z-index: 2;
    }
    article dd {
        line-height: 1;
        background-color: val(--background-color);
        border-radius: 1em 2em;
        box-shadow: 0.05em 0.05em 0.15em rgb(192, 192, 192);
        margin: -1em 0em 2em 2em;
        padding: 1.5em 2em;
        z-index: 1;
    }
    article dd p {
        font-size: 90%;
        text-align: justify;
        text-justify: newspaper;
        margin: 0em;
    }
    article a,
    footer a {
        color: var(--article-foreground-color);
    }
    article dt a {
        text-decoration: none;
    }
    article a:hover,
    footer a:hover {
        color: rgb(64, 96, 192);
        text-decoration: underline;
        text-shadow: 0em 0em 0.2em rgba(0, 0, 0, 50%), 0em 0em 0.5em rgb(255, 255, 255);
    }
    footer {
        color: var(--article-foreground-color);
        font-family: var(--article-description-font-family);
        margin: 1em 0em 2em 0em;
        padding: 0em max(2em, calc((100vw - var(--content-width)) / 2));
    }
    p#copyright {
        font-size: 80%;
        letter-spacing: 0.1em;
        text-align: center;
        margin: 0em;
    }
    p#background-provider {
        font-size: 67%;
        text-align: center;
        margin: 0em;
    }
}