@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comfortaa&family=Zen+Maru+Gothic&display=swap');
@media only screen and (min-width:801px) {
     :root {}
    body {
        background-size: cover;
        background-position-x: center;
        background-position-x: center;
    }
}