@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Murecho&family=Zen+Maru+Gothic:wght@400;700&display=swap');

@media only screen and (min-width: 601px) and (max-width: 800px) {
    :root {
        --font-size: 20pt;
    }
}

@media only screen and (max-width: 601px) {
    :root {
        --font-size: 12pt;
    }
}

@media only screen and (max-width: 800px) {
    :root {
        --background-color: #E0D0A0;
        --link-hover-color: #4060C0;
        --link-shadow-color: #80C0E0;
        --logo-font-family: "Handlee", sans-serif;
        --heading-font-family: "Murecho", sans-serif;
        --font-faimly: "Zen Maru Gothic", sans-serif;
        --source-font-size: 1.2rem;
        --panel-background-color: rgba(240, 248, 255, 50%);
        --panel-backdrop-filter: blur(0.75em);
        --panel-border-color: #E0E8FF;
        --panel-border-width: 0.1em;
        --panel-box-shadow: 0.1em 0.1em 0.2em 0em #808080,
            inset 0em 0em 0.2em 0em #E0E8FF;
        --text-shadow: 0em 0em 0.1em #B0B4C0,
            0em 0em 0.2em #E0E8FF,
            0em 0em 0.3em #E0E8FF,
            0em 0em 0.4em #E0E8FF;
    }

    * {
        color: #404040;
        font-family: var(--font-faimly);
        font-size: var(--font-size);
        font-weight: normal;
        font-style: normal;
        line-height: 1.5;

        box-sizing: border-box;
        margin: 0em;
        padding: 0em;
    }

    li {
        list-style-type: none;

        padding: 0em 0em 0em 1em;
    }

    a:hover {
        color: var(--link-hover-color);
        font-weight: bold;
        text-shadow: 0em 0em 1em var(--link-shadow-color);
    }

    rt {
        font-size: 0.5em;
    }

    body {
        background-attachment: fixed;
        background-color: var(--background-color);
        background-image: url("background.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        margin: 0em;
        overflow: hidden auto;
        padding: 0em;
    }

    section.logo {
        backdrop-filter: var(--panel-backdrop-filter);
        background-color: var(--panel-background-color);

        border-color: var(--panel-border-color);
        border-style: none none solid none;
        border-width: var(--panel-border-width);

        box-shadow: var(--panel-box-shadow);

        padding: 1em 2em;
    }

    section.logo h1 {
        font-family: var(--logo-font-family);
        font-size: 2em;
        font-style: italic;
        font-weight: bold;
        letter-spacing: 0.2em;
    }

    section.logo p {
        font-size: 0.9em;
        font-style: italic;
    }

    hr {
        display: none;
    }

    nav.source-set,
    section.panel {
        text-shadow: 0em 0em 0.5em var(--panel-background-color);

        backdrop-filter: var(--panel-backdrop-filter);
        background-color: var(--panel-background-color);

        border-color: var(--panel-border-color);
        border-width: var(--panel-border-width);

        box-shadow: var(--panel-box-shadow);

        margin: 1em 2em;
    }

    nav.source-set {
        display: grid;
        grid-template-columns: 1fr 1fr;

        border-radius: 5vw;
        border-style: solid;

        margin: 2em 0.5em;
        padding: 2em 1em 6em 1em;
    }

    section.source h2 {
        font-family: var(--heading-font-family);
        font-size: var(--source-font-size);
        font-weight: bold;
    }

    section.source h2::after {
        content: ": ";
    }

    section.source a {
        font-size: var(--source-font-size);
    }

    section.source ul li {
        font-stretch: 50%;
        margin: 0em 1em 0em 0em;
    }

    section.source ul li h3 {
        font-size: var(--source-font-size);
    }

    section.source ul li ul li:last-child {
        margin: 0em;
    }

    section.license {
        text-align: center;

        position: relative;
        left: 0em;
        top: -6em;

        margin: 0em 1.5em;
    }

    nav.language {
        text-align: right;

        position: absolute;
        --width: 10em;
        left: calc(100% - var(--width) - 1em);
        top: 0em;
        width: var(--width);
        height: auto;

        padding: 1em;
    }

    li.language-selected {
        font-weight: bold;
    }

    li.language-selected::before {
        content: "▶";
    }

    article.panel-set {
        margin: 0em 0em 2em 0em;
    }

    article.panel-set h2 {
        display: none;
    }

    section.panel {
        padding: 1em;
    }

    section.panel:nth-child(even) {
        border-radius: 0vw 5vw 5vw 0vw;
        border-style: solid solid solid none;

        margin: 1em 8em 1em 0em;
    }

    section.panel:nth-child(odd) {
        border-radius: 5vw 0vw 0vw 5vw;
        border-style: solid none solid solid;

        margin: 2em 0em 2em 8em;
    }

    section.panel h3 {
        color: rgba(160, 160, 176, 50%);
        font-family: var(--heading-font-family);
        font-size: 3.5em;
        letter-spacing: 0.05em;
        text-shadow: 0.05em 0.05em 0.1em rgba(96, 96, 104, 25%);
        vertical-align: bottom;
        
        user-select: none;

        position: absolute;
        bottom: -0.4em;
        width: calc(100% - 0.5em);
        height: auto;
        z-index: -1;
    }

    section.panel h3:hover {
        color: #606070;
        text-shadow: 0.05em 0.05em 0.1em #606070;
    }

    section.panel:nth-child(even) h3 {
        text-align: right;

        right: 0.25em;
    }

    section.panel:nth-child(odd) h3 {
        text-align: left;

        left: 0.25em;
    }

    section.panel p {
        text-align: justify;
        text-justify: inter-character;
    }

    section.panel:nth-child(even) p {
        margin: 1em 3em 1em 0em;
    }

    section.panel:nth-child(odd) p {
        margin: 1em 0em 1em 3em;
    }

    ul.target {
        text-align: right;

        padding: 0em 1.5em;
        position: absolute;
        top: 0.5em;
        width: 12em;
        height: auto;
    }

    section.panel:nth-child(even) ul.target {
        right: -7em;

        transform: rotate(-5deg);
    }

    section.panel:nth-child(odd) ul.target {
        left: -7em;

        transform: rotate(5deg);
    }

    ul.target li {
        text-align: center;
        text-wrap: nowrap;
        overflow: hidden;

        box-shadow: 0.1em 0.1em 0.5em #808080;

        border-radius: 2em;
        border-style: solid;
        border-width: 0.1em;

        margin: 0.5em 0em;
        padding: 0.25em 0.5em;
    }

    ul.target li a {
        color: #FFFFFF;
        font-size: 0.9em;
        font-weight: bold;
        text-decoration: none;
    }

    ul.target li a:hover {
        color: var(--link-hover-color);
        font-weight: bold;
        text-decoration: underline;
        text-shadow: 0em 0em 1em var(--link-shadow-color);
    }

    li.target-rust {
        --target-color: #704830;

        text-shadow: 0.1m 0.1em 0.2em var(--target-color);

        background-color: rgba(112, 72, 48, 50%);

        border-color: var(--target-color);

        grid-column: 4;
    }

    li.target-cpp {
        --target-color: #00589C;

        text-shadow: 0.1m 0.1em 0.2em var(--target-color);

        background-color: rgba(0, 88, 156, 50%);

        border-color: var(--target-color);

        grid-column: 5;
    }

    footer {
        text-align: center;

        margin: 1em 0em;
    }

    footer address {
        letter-spacing: 0.1em;

        background-color: rgba(255, 255, 255, 45%);
        border-radius: 0.5em;

        box-shadow: 0em 0em 1em #FFFFFF;

        width: 20em;

        margin: 0em auto;
    }
}